* {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

body{
    padding-top: 50px;
}

nav.css-top-navigation a.nav-link.active::after {
    position: relative;
    content: '';
    width: 100%;
    height: 1px;
    bottom: -10px;
    background: var(--light);
    left: 1px;
    display: block;
}

h1 {
    font-size: 18px;
    font-weight: 600;
}

fieldset legend {
    font-size: 14px;
    font-weight: 400;
}
/* 
.table td, .table th {
    vertical-align: baseline;
} */

circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    margin-right: 6px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
    border-color: transparent !important;
    padding: 10px 24px;
}

.pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    background: #fff;
    padding: 5px;
}

.status-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 24px 10px 24px 15px ;
    background: #6610f2;
    color: #fff;
}

.status-bar .status-bar-item {
    font-size: 12px;
}


.private-mode{ float: right; }

body.text-blur .text-blur{
    color: transparent;
    text-shadow: 0 0 7px rgba(0, 0, 0, 1);
    font-size: 12px;
    -webkit-transition: text-shadow 2.0 ease-out; 
    -moz-transition: text-shadow 2.0 ease-out; 
    -ms-transition: text-shadow 2.0 ease-out; 
    -o-transition: text-shadow 2.0 ease-out; 
    transition: text-shadow 2.0 ease-out;
}
body.text-blur .text-blur:hover{
    text-shadow: 0 0 0 rgba(0, 0, 0, 1);
    -webkit-transition: text-shadow 0.5s; 
    -moz-transition: text-shadow 0.5s; 
    -ms-transition: text-shadow 0.5s; 
    -o-transition: text-shadow 0.5s; 
    transition: text-shadow 0.5s;
    cursor: default;
}

.btn-secondary, 
.btn-secondary.focus, 
.btn-secondary:focus{
    background-color: #ece0ff !important;
        border-color: #ece0ff !important;
               color: #6610f2 !important;
}
.btn-secondary:hover, 
.btn-secondary:active{
    background-color: #6610f2 !important;
        border-color: #6610f2 !important;
               color: #ffffff !important;
}

.javascript-playment-stop[disabled], .javascript-playment-run[disabled] {
    opacity: 0.5;
}