
<div class="ml-3 mt-3 mb-3">
    <h1 class="mb-0">Информация</h1>
</div>

<div class="mt-4"> 
    <div class="col-12">
       <p> Телеграмм канал: <a class="c-white" external="https://t.me/alienbot_fun" role="button">@alienbot_fun</a> </p>
       <p> Тех.поддержка: <a class="c-white" external="https://t.me/alienbot_admin" role="button">@alienbot_admin</a> </p>       
       <p> Сайт: <a class="c-white" external="https://alienbot.fun" role="button">https://alienbot.fun</a> </p> 
    </div>
</div>
