<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/icon.ico" type="image/x-icon" />

        <title>▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒</title>

    </head>
    <body>
        
        <script src="/libs/jquery/jquery.min.js"></script>
        <script src="/libs/wax/waxjs.min.js?_"></script>
        <script src="/libs/wax/eosjs-serialize.js?_"></script>
        <script src="/libs/wax/federation.js"></script>
        <script src="/libs/wax/mine.js"></script>

    </body>
</html>